@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #ecf0f1;
}

h1 {
  font-family: "Inconsolata", monospace;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
}

.wrapper {
  width: 100%;
}

.header {
  background-color: #706fd3;
  border-bottom-left-radius: 7% 60%;
  height: 15rem;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding: 4.5rem 2rem 2rem 8%;
}
.header__mode {
  margin-top: 3rem;
  margin-right: 10rem;
}

.mode {
  display: flex;
  height: 4rem;
  align-items: center;
}
.mode__icon {
  height: 2rem;
  margin: 0 1rem;
  justify-content: space-evenly;
  filter: invert(1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;
}
.switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__input:checked + .switch__slider::before {
  transform: translateX(2.3rem);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
.switch__slider--round {
  border-radius: 30px;
}
.switch__slider--round::before {
  border-radius: 50%;
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 3.5px;
  bottom: 2.5px;
  background-color: #706fd3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navigation {
  background-color: #ecf0f1;
  width: 60%;
  height: 8rem;
  margin: -3rem auto 0 auto;
  border-radius: 1rem;
}

.filter {
  border-radius: 1rem;
  display: flex;
  height: inherit;
  width: 100%;
  background-color: #fff;
}
.filter__title {
  flex: 3;
  display: flex;
}
.filter__title--icon {
  stroke: #706fd3;
  width: 20%;
  transform: scale(0.5);
  width: 17%;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}
.filter__title--icon:hover {
  transform: scale(0.6);
}
.filter__title--input {
  width: 80%;
  outline: none;
  border: none;
  padding: 1rem 2rem;
}
.filter__title--input::placeholder {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
}
.filter__location {
  flex: 2;
  display: flex;
}
.filter__location--icon {
  stroke: #706fd3;
  width: 20%;
  transform: scale(0.5);
  width: 25%;
  transition: all 0.3s ease;
}
.filter__location--icon:hover {
  transform: scale(0.6);
}
.filter__location--input {
  width: 75%;
  outline: none;
  border: none;
  padding: 1rem 2rem;
}
.filter__location--input::placeholder {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
}
.filter__time {
  flex: 2;
  display: flex;
  justify-items: center;
  align-items: center;
}
.filter__time--input {
  flex: 3;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  cursor: pointer;
}
.filter__time--input p {
  position: absolute;
  top: 0.5rem;
  margin-left: 0.5rem;
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
}
.filter__time--input input {
  opacity: 0;
}
.filter__time--input input:checked + .filter__time--input-checkmark {
  background-color: #706fd3;
}
.filter__time--input input:checked + .filter__time--input-checkmark::after {
  display: block;
}
.filter__time--input-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ecf0f1;
}
.filter__time--input-checkmark:hover {
  background-color: #d5dde0;
}
.filter__time--input-checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.button {
  background-color: #706fd3;
  border: none;
  outline: none;
  cursor: pointer;
  height: auto;
  padding: 1.2rem 1.5rem;
  color: #fff;
  margin-right: 2rem;
  font-family: "Inconsolata", monospace;
  font-weight: 500;
  font-size: 1.4rem;
  border-radius: 0.3rem;
}
.button:hover {
  background: #605fce;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
}
.button:active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
}
.button__filter {
  flex: 2;
}
.button__load-more {
  display: block;
  margin: 0 auto;
}

.content {
  display: flex;
  transition: display 1s ease;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95rem;
  margin: 5rem auto;
}

.position-box {
  display: flex;
  flex-direction: column;
  flex-basis: 29rem;
  flex-shrink: 0;
  margin: 1rem 1rem 5rem 1rem;
  height: 20rem;
  padding: 2.5rem;
  border-radius: 0.4rem;
  background: #fff;
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  color: #AAA2B9;
}
.position-box__logo {
  position: relative;
  flex-grow: 1;
}
.position-box__logo img {
  width: 4rem;
  position: absolute;
  top: -5rem;
  left: 0rem;
  border-radius: 1rem;
}
.position-box__published-time {
  flex-grow: 1;
  color: #AAA2B9;
  margin-top: 1rem;
}
.position-box__name {
  flex-grow: 1;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
.position-box__company {
  flex-grow: 1;
  margin-bottom: 1.5rem;
  max-width: 25rem;
  word-break: break-all;
}
.position-box__location {
  flex-grow: 1;
  color: #706fd3;
  font-weight: bold;
  font-size: 1.5rem;
}

.bottom {
  margin: -5rem 0 5rem 0;
}

/*# sourceMappingURL=style.css.map */
