@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

$color-primary: #706fd3;
$color-secondary: #fff;
$color-ternary: #ecf0f1;

$font-family-placeholder: 'Abel', sans-serif;

@mixin filterIcons {
  stroke: $color-primary;
  width: 20%;
  transform: scale(.5);
}

@mixin setFamilySize {
    font-family: $font-family-placeholder;
    font-size: 1.5rem;
}

@mixin debugBorder {
  border: magenta 1px solid;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: $color-ternary;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 3.5rem;
  font-weight: 500;
  color: $color-secondary;
}

.wrapper {
  width: 100%;
}

.header {
  background-color: $color-primary;
  border-bottom-left-radius: 7% 60%;
  height: 15rem;
  display: flex;
  justify-content: space-between;

  &__logo {
    padding: 4.5rem 2rem 2rem 8%;
  }

  &__mode {
    margin-top: 3rem;
    margin-right: 10rem;
  }
}

.mode {
  display: flex;
  height: 4rem;
  align-items: center;

  &__icon {
    height: 2rem;
    margin: 0 1rem;
    justify-content: space-evenly;
    filter: invert(1);
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.5rem;

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__input:checked + &__slider::before {
    transform: translateX(2.3rem);
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-secondary;

    &--round {
      border-radius: 30px;

      &::before {
        border-radius: 50%;
    }
    }

    &::before {
      position: absolute;
      content: "";
      height: 2rem;
      width: 2rem;
      left: 3.5px;
      bottom: 2.5px;
      background-color: $color-primary;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
}

.navigation {
  background-color: $color-ternary;
  width: 60%;
  height: 8rem;
  margin: -3rem auto 0 auto;
  border-radius: 1rem;
}

.filter {
 // border: magenta 1px solid;
  border-radius: 1rem;
  display: flex;
  height: inherit;
  width: 100%;
  background-color: $color-secondary;

  &__title {
    flex: 3;
    display: flex;

    &--icon {
      @include filterIcons;
      width: 17%;
      margin-left: 0.5rem;

      &:hover {
        transition: all .3s ease;
        transform: scale(.6);
      }
    }
    &--input {
      width: 80%;
      outline: none;
      border: none;
      padding: 1rem 2rem;

      &::placeholder {
        @include setFamilySize;
      }
    }
  }
  &__location {
    flex: 2;
    display: flex;

    &--icon {
      @include filterIcons;
      width: 25%;

      &:hover {
        transition: all .3s ease;
        transform: scale(.6);
      }
    }
    &--input {
      width: 75%;
      outline: none;
      border: none;
      padding: 1rem 2rem;

      &::placeholder {
        @include setFamilySize;
      }

    }
  }
  &__time {
    flex: 2;
    display: flex;
    justify-items: center;
    align-items: center;

    &--input {

      flex: 3;
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      font-size: 1.4rem;
      cursor: pointer;

      p {
        position: absolute;
        top: 0.5rem;
        margin-left: 0.5rem;
        @include setFamilySize;
      }

      input {
        opacity: 0;
      }


      input:checked + .filter__time--input-checkmark {
        background-color: $color-primary;
      }

      input:checked + .filter__time--input-checkmark::after {
        display: block;
      }

    }
    &--input-checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: $color-ternary;

      &:hover {
        background-color: darken($color-ternary,8);
      }

      &::after {
        content: "";
        position: absolute;
        display: none;
        left: 11px;
        top: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }

    }
    &--button {
      flex: 2;
      background-color: $color-primary;
      border: none;
      outline: none;
      cursor: pointer;
      height: auto;
      padding: 1.2rem 0.5rem;
      color: $color-secondary;
      margin-right: 2rem;
      font-family: 'Inconsolata', monospace;
      font-weight: 500;
      font-size: 1.4rem;
      border-radius: .3rem;

      &:hover {
        background: darken($color-primary,4);
        box-shadow: 0 0.5rem 0.7rem rgba(black,0.5);
      }

      &:active {
          box-shadow: 0 0.2rem 0.5rem rgba(black,0.5);
      }
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 95rem;
  margin: 5rem auto;
 //@include debugBorder;
}

.position-box {
  display: flex;
  flex-direction: column;
  flex-basis: 29rem;
  flex-shrink: 0;
  margin: 1rem 1rem 5rem 1rem;
  height: 20rem;
  padding: 2.5rem;
  border-radius: 0.4rem;
  background: $color-secondary;

  font-size: 1.5rem;
  font-family: 'Abel', sans-serif;
  color: #AAA2B9;

  &__logo{
    position: relative;
    flex-grow: 1;
    & img {
      width: 4rem;
      position: absolute;
      top: -5rem;
      left: 0rem;
      border-radius: 1rem;
    }
  }

  &__published-time {
    flex-grow: 1;
    color: #AAA2B9;
    margin-top: 1rem;
  }

  &__name {
    flex-grow: 1;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }

  &__company {
    flex-grow: 1;
    margin-bottom: 1.5rem;
  }

  &__location {
    flex-grow: 1;
    color: $color-primary;
    font-weight: bold;
    font-size: 1.5rem;
  }
}